absl-py==2.0.0
annotated-types==0.6.0
anyio==4.2.0
click==8.1.7
fastapi==0.100.1
h11==0.14.0
httptools==0.6.1
idna==3.6
numpy==1.26.3
ortools==9.8.3296
pandas==2.1.4
protobuf==4.25.1
pydantic==2.5.3
pydantic_core==2.14.6
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3.post1
PyYAML==6.0.1
six==1.16.0
sniffio==1.3.0
starlette==0.27.0
typing_extensions==4.9.0
tzdata==2023.4
uvicorn==0.23.2
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
